h6 {
  font-size: 1.2em;
  font-weight: bold;
}

.table {
  thead {
    tr {
      th {
        vertical-align: top;
        &:hover {
          cursor: pointer;
        }
        input {
          width: 100%;
          margin-top: 10px;
          border: 1px solid #e7e7e7;
          font-weight: normal;
        }
      }
    }
  }
}

label {
  font-weight: normal;
  width: 100%;
}

.types {
  label {
    width: 49%;
  }
}

#search {
  width: 100%;
}

.link {
  text-decoration: underline;
  &:hover {
    cursor: pointer;
  }
}

//.description {
//  display: none;
//}
