{% extends 'base.html' %}
{% load static %}


{% block content %}
    <h1 class="page-header">Message center</h1>
    <div class="row">
        <div class="col-sm-4">
            <h6>Member or Company</h6>
            <input type="text" id="search" autocomplete="off" debounce="500"
                   placeholder="Type member or company name" v-model="search">
        </div>
        <div class="col-sm-4">
            <h6>Status</h6>
            <label for="status1">
                <input id="status1" type="radio" value="all" v-model="status">
                all
            </label>
            <label for="status2">
                <input id="status2" type="radio" value="resolved"
                       v-model="status">
                resolved
            </label>
            <label for="status3">
                <input id="status3" type="radio" value="unresolved"
                       v-model="status">
                unresolved
            </label>
        </div>
        <div class="col-sm-4 types">
            <h6>Message type</h6>
            {% for message_type in message_types %}
                <label for="message_type{{ message_type.id }}">
                    <input id="message_type{{ message_type.id }}"
                           type="checkbox"
                           value="{{ message_type.id }}"
                           v-bind:value="{{ message_type.id }}"
                           v-model="messageTypes">
                    {{ message_type.title }}
                </label>
            {% endfor %}
        </div>
    </div>
    {% verbatim %}
    <p>Found {{ count }} messages</p>
    <table class="table table-bordered table-striped">
        <thead>
        <tr>
            <th class="col-sm-6">
                <div v-on:click="changeOrder('member__name')">
                    Member
                    <span class="fa"
                          v-bind:class="[getCaretClass('member__name')]"></span>
                </div>
                <div>
                    <input type="text" debounce="200"
                           placeholder="Only member name" v-model="member">
                </div>
            </th>
            <th class="col-sm-2">
                <div v-on:click="changeOrder('message_type__title')">
                    Message Type
                    <span class="fa"
                          v-bind:class="[getCaretClass('message_type__title')]"></span>
                </div>
                <div>
                    <input type="text" debounce="200"
                           placeholder="Message type name"
                           v-model="messageType">
                </div>
            </th>
            <th class="col-sm-1">
                <div v-on:click="changeOrder('resolved')">
                    Status
                    <span class="fa"
                          v-bind:class="[getCaretClass('resolved')]"></span>
                </div>
            </th>
            <th class="col-sm-3">
                <div v-on:click="changeOrder('created')">
                    Created at
                    <span class="fa"
                          v-bind:class="[getCaretClass('created')]"></span>
                </div>
            </th>
        </tr>
        </thead>
        <tbody>
        <tr v-for="message in messages">
            <td><span class="link" v-on:click="toggleDescription(message.id)">{{ message.member.name}}</span>
                <table class="table table-striped table-bordered description" v-show="isHidden(message.id)">
                    <tr>
                        <th class="col-sm-3">Company</th>
                        <td>{{ message.member.company.title }}</td>
                    </tr>
                    <tr>
                        <th>Email</th>
                        <td>{{ message.member.email }}</td>
                    </tr>
                    <tr>
                        <th>Sex</th>
                        <td>{{ message.member.sex }}</td>
                    </tr>
                    <tr>
                        <th>Age</th>
                        <td>{{ message.member.age }}</td>
                    </tr>
                </table>
            </td>
            <td>{{ message.message_type.title }}</td>
            <td><span
                    class="fa fa-{{ message.resolved ? 'check' : 'ban' }}"></span>
            </td>
            <td>{{ message.created }}</td>
        </tr>
        </tbody>
    </table>
    <button type="button" :disabled="!previous" v-on:click="prevPage()">
        Previous
    </button>
    <span>Current page: {{ page }}</span>
    <button type="button" :disabled="!next" v-on:click="nextPage()">Next
    </button>
    {% endverbatim %}
{% endblock %}

{% block js %}
    <script src="{% static 'app.js' %}"></script>
{% endblock %}


{% block css %}
    <link rel="stylesheet" href="{% static 'app.css' %}">
{% endblock %}
